
<div id="heard-post-list">
    <h2 class="section-title">Today I Heard...</h2>
    {{#if posts}}
        <ul>
            {{#each posts}}
                <li class="heard-post-li">
                    <div class="post-container">
                        <a class="post-link red-blur" href="/heard/{{this._id}}">{{this.post_title}}</a>
                        <!--<ul class="list-group-flush list-group-dark">-->
                            <!--{{#if post_artist}}  <li class="list-inline"><b class="list-cat-header">Artist</b> {{this.post_artist}}   </li>{{/if}}-->
                            <!--{{#if post_album}}   <li class="list-inline"><b class="list-cat-header">Album</b> {{this.post_album}}     </li>{{/if}}-->
                            <!--{{#if post_track}}   <li class="list-inline"><b class="list-cat-header">Track</b> {{this.post_track}}     </li>{{/if}}-->
                            <!--{{#if user_rating}}  <li class="list-inline"><b class="list-cat-header">Rating</b> {{this.user_rating}}/10</li>{{/if}}-->
                            <!--{{#if post_url_link}}<li class="list-inline"><b class="list-cat-header">Source </b><a href="{{this.post_url_link}}">Link</a></li>{{/if}}-->
                        <!--</ul>-->
                        <p class="post-preview">{{postPreview post_body}}</p>
                        <h5 class="post-publication">Posted by {{this.post_author}} @ {{this.date_created}}</h5>
                        {{#if date_last_edit}}<h5 class="post-publication edit">Edited: {{this.date_last_edit}}</h5>{{/if}}
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No 'Today I Heard' Posts</p>
    {{/if}}
</div>


