
<div id="learned-post-list">
    <h2 class="section-title">Today I Learned...</h2>
    {{#if posts}}
        <ul>
            {{#each posts}}
                <li class="learned-post-1i">
                    <div class="post-container">
                        <a class="post-link" href="/learned/{{this.id}}">{{this.post_title}}</a>
                        {{#if this.post_body}}
                            <p class="post-preview"> {{postPreview post_body}} </p>
                        {{/if}}
                        <p class="post-publication">Posted by {{this.post_author}} @ {{this.date_created}}</p>
                        {{#if date_last_edit}}<p class="post-publication edit">Edited: {{this.date_last_edit}}</p>{{/if}}
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No 'Today I Learned' Posts</p>
    {{/if}}
</div>

