
<div id="thought-post-list">
    {{#if posts}}
        <ul>
            {{#each posts}}
                <li class="thought-post-li">
                    <div class="thought-post-div">
                        <a class="post-link" href="thought/{{this.id}}">{{this.post_title}}</a>
                        <p class="author-time">
                            Posted by {{this.post_author}} @ {{this.date_created}}</p>
                        {{#if date_last_edit}}Edited: {{this.date_last_edit}}{{/if}}
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No 'Today I Thought' Posts</p>
    {{/if}}
</div>