

<div id="solo-thought-post">

    {{#if post}}

        <div id="post-thought-title-div">
            <h2 class="post-solo-title"> {{post.post_title}} </h2>
        </div>

        <hr>
        <p class="post-solo-body"> {{post.post_body}} </p>
        <hr>

        <h5 class="post-publication">
            Posted {{post.date_created}} by {{post.post_author}}
        </h5>

        {{#if post.date_last_edit}}
            <h5 class="post-publication edit">Edited: {{post.date_last_edit}} </h5>
        {{/if}}

        <div class="row btn-group text-center">
            <div class="col">
                <form class="crud-form-left" action="/edit/thought/{{post._id}}" method="get">
                    <div class="form-group crud btn-group btn-div-left" role="group">
                        <button type=submit id=t-crud-u class="btn btn-dark btn-outline-dark btn-left">MODIFY</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form class="crud-form-right" action="/delete/thought/{{post._id}}" method="post">
                    <div class="form-group crud btn-group btn-div-right" role="group">
                        <button type=submit id=t-crud-d class="btn btn-dark btn-outline-dark btn-right">DELETE</button>
                    </div>
                </form>
            </div>
        </div>

        <br>

    {{else}}
        <p>No Post found for ID</p>
    {{/if}}

</div>