

<div id="solo-watched-post">
    {{#if post}}

        <h2 class="post-solo-title"> {{post.post_title}} </h2>
        <hr>
        <p class="post-solo-body"> {{post.post_body}} </p>

        {{#if post.post_url_link }}
            <div class="watched-1-2-split">
                <a href="{{post.post_url_link}}"> {{post.post_url_link}} </a>
            </div>
        {{/if}}

        {{#if post.post_file_uri }}
            <div class="watched-1-2-split">
                <a href="{{post.post_file_uri}}"> {{post.post_file_uri}} </a>
            </div>
        {{/if}}

        <hr>

        <h5 class="post-publication">
            Posted {{post.date_created}} by {{post.post_author}}
        </h5>

        {{#if post.date_last_edit}}
            <h5 class="post-publication edit">Edited: {{post.date_last_edit}} </h5>
        {{/if}}

        <div class="row btn-group text-center">
            <div class="col">
                <form class="crud-form-left" action="/edit/watched/{{post._id}}" method="get">
                    <div class="form-group crud btn-group btn-div-left" role="group">
                        <button type="submit" id=w-crud-u class="btn btn-dark btn-outline-dark btn-left">MODIFY</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form class="crud-form-right" action="/delete/watched/{{post._id}}" method="post">
                    <div class="form-group crud btn-group btn-div-right" role="group">
                        <button type="submit" id="w-crud-d" class="btn btn-dark btn-outline-dark btn-right">DELETE</button>
                    </div>
                </form>
            </div>
        </div>

        <br>

    {{else}}
        <p>No Post found for ID</p>
    {{/if}}

</div>